[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
wheel = "*"
scrapy = "*"
twisted = "*"
pywin32 = "*"
pymongo = "*"
requests = "*"
beautifulsoup4 = "*"
redis = "*"
fake-useragent = "*"
browsercookie = "*"
scrapyrt = "*"
pymysql3 = "*"

[requires]
