[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wheel = "*"
scrapy = "*"
twisted = "*"
win32api = "*"
pywin32 = "*"
mysqlclient = "*"

[requires]
python_version = "3.7"
